* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

#game-canvas {
    border: solid 1px black;
}

.screen {
    display: flex;
    justify-content: space-around;
    width: 95%;
}